.pdh20 {
    padding: 20px 0;
}


.pform {
    padding: 0.94em 2.8em 0.94em 0.8em;
}


/* .p6 {
    padding: 6px;
} */

.ph6 {
    padding: 6px 0;
}

.main_bill{
    background-color: #FAFAFA;
    padding: 0 100px;
    width: 100%;
    /* height: 100vh; */
}

.row_confirm {
    /* height: 100%; */
}

/* left */
.main_left{
    width: 60%;
    padding: 56px 66px 0 0;
    height: 100%;
}
.main_header{

}
.logo_text{
    font-size: 28px;
    font-weight: 600;
}
.main_content{

}
.main_content .main_section{

}
.main_content .main_section .section_title{
    font-size: 18px;
    font-weight: 400;
}
.section_content-infomation{

}
.section_content-infomation .section_content-text{
    font-size: 14px;
    color: #737373;
}

.form_info {
    /* margin: 0 -6px; */
    margin: 12px 0;
}

.form_info .form {
    position: relative;
}

.form_info .form label {
    position: absolute;
    left: 0.9em;
    top: 55%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
    /* display: flex; */
    transition: .25s linear;
}

.form_info .form .form_control-section:focus {
    border:1px solid #6a5af9;
}

.form_control-section:not(:placeholder-shown) + label,
.form_control-section:focus + label {
    top: 6px;
    left: 1.2em;
    padding: 0 10px;
    background-color: #FAFAFA;
    color: #6a5af9;
}

.email_contact , .tel_contact,
.section_content-infomation .form_control-section{
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    padding: 0.94em 2.8em 0.94em 0.8em;
    background-color: #FAFAFA;
}

.address_contact {
    display: flex;
}

.tel_contact {
    /* margin-left: 3px; */

}


.email_contact {
    margin-right: 3px;
}

.btn_buttons-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.rerturn_bill{
    color: #338dbc;
    font-size: 14px;
    font-family: 'font_main-medium';
    font-weight: 600;
}
.continue_pay{
    /* padding: 20px 24px; */
    background-color: #338dbc;
    border-radius: 10px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}


.continue_pay:hover {
    background-color: #4aaade;
    /* font-weight: 600; */
    color: #fff;
    text-decoration: none;
}


.continue_pay > button {
    border: none;
    background-color: transparent;
    color: #Fff;
    padding: 20px 24px;
}

.rerturn_bill:hover{
    text-decoration: none;
    color: #49aee4;

}

/* right */

.main_right {
    width: 40%;
    /* background-color: #FAFAFA; */
    padding: 56px 0 0px 46px;
    border-left: 1px solid #ccc;
    height: 100%;
}

.info_pro {
    
}

.info_pro-id {
    display: flex;
}

.info_pro .info_pro-id .photo_pro-view{
    width: 40px;
    height: 60px;
}
.main_right .photo_pro-view .img_pro-view{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_pro {
    display: flex;
    justify-content: space-between;
}

.row_table-pay {
    padding: 24px 0;
    border-top: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
}

.total_line-table{
    width: 100%;
}
.total_line-tbody{
    /* margin: 20px 0; */
    display: block;
    padding: 0 0 24px 0;
}
.total_line{
    display: flex;
    justify-content: space-between;
}
.total_line-name{

}
.total_line-footer{

}
.total_line-footer{
    display: block;
    padding: 24px 0 0 0;
    border-top: 1px solid #ccc;
}

.total_line-footer .total_line .total_line-price {
    font-size: 24px;    
}

.total_line-footer .total_line .total_line-price span {
    opacity: 0.6;
    font-size: 18px;
}