.tables_address {
    width: 450px;
    margin-top: -20px;
}

.table_address {
    /* border: 1px solid #333; */
    box-shadow: 0 0 6px #ccc;
    overflow: hidden;
    transition: .25s all linear;
    margin-top: 20px;
    cursor: pointer;
}

.table_address:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 6px #666666;
    /* margin-bottom: 5px; */
}

.table_address .title_address {
    background-color: #d9edf7;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.table_address .title_address span {
    margin-left: 10px;
}

.table_address .title_address .title_address-name {
    color: #000;
    font-family: 'font_main-bold';
    font-size: 16px;
    margin-bottom: 0;
}

.nav_address .name_user-address {
    font-weight: 700;
    font-family: 'font_main-bold';
    /* font-size: px; */
    font-size: 14px;
}

.table_address-icon {
    display: flex;
    position: absolute;
    right: 0;
}

.table_address-icon .icon_open {
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.table_address-icon .icon_open:hover {
    opacity: 0.4;
}

.table_address-icon .icon_close-fixed-address {
    height: 20px;
    width: 20px;
    right: 15px;
    margin-right: 10px;
}


.table_address .nav_address {
    padding: 10px;
    background-color: #FAFAFA;
    font-family: 'font_main-medium';
    font-weight: 600;
    font-size: 14px;
    color: #666666;
}

.table_address .nav_address p {
    margin: 5px 0;
}

.btn_add-address,
.address_add {
    padding: 5px 8px;
    text-transform: uppercase;
    color: #Fff;
    background-color: #333e48;
}

.address_add-none {
}

.form_address-edit,
.form_address-add {
    display: none;
    animation: address-add .25s linear;
    position: relative;
}

.form_address-edit {
    padding: 20px;
}

@keyframes address-add{
    0% {
        opacity: 0;
        top: -25px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.box_address-add {
    position: relative;
    margin: 15px 0;
    border: none;
    overflow: hidden;
    border: none;
    display: flex;
    align-items: center;
}

.icon_address-add {
    position: absolute;
    /* vertical-align: middle; */
    left: 10px;
    color: #666666;
}

.form_control {
    padding: 6px 12px 6px 32px;
    border: 1px solid #ccc;
    width: 100%;
    transition: .1s all linear;
}

.form_control:focus {
    border: 1px solid #333e48;
}

.bottom_address-add {
    margin-top: 15px;
}