*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}

input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul , p , li , a ,label {
    margin-bottom: 0;
}

:root {
    --text-white: #fff;
}

@font-face {
    font-family: 'font_main-bold';
    src: url(../fonts/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'font_main-medium';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}


.mt28 {
    margin-top: 28px;
}

.mb30 {
    margin-bottom: 30px;
}

.fz14 {
    font-size: 14px;
}

.pw5 {
    padding: 0 5px;
}

.mt50 {
    margin-top: 50px;
}

.mt80 {
    margin-top: 80px;
}

.right {
    right: 480px;
    animation: fadeMain .25s linear;
}


.main {
    position: relative;
    /* right: 380px; */
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.sub_header {
    background-color: #000;
    font-family: 'font_main-bold';
    width: 100%;
    z-index: 6;
}

.sub_header .box_sub-header{
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-size: 14px; */
}

.sub_header-left{
    display: flex;
    color: var(--text-white);
    font-size: 12px;
    flex-shrink: 0;
}
.sub_header-left .header_left-email{
    border-right: 1px solid #fff;
}

.sub_header-center{
    display: flex;
    flex: 1;
    display: block;
    text-align: center;
    margin-right: 40px;
}
.sub_header-center .title_header-center{
    color: var(--text-white);
}
.sub_header-right{
    height: 43px;
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.form_control-header{
    padding: 5px 12px;
    min-width: 300px;
    border-radius: 10px;
}
.sub_header-right .icon_search-header{
    position: absolute;
    /* font-size: 14px; */
    height: 15px;
    width: 15px;
    font-size: 12px;
    right: 12px;
    opacity: 0.6;
    /* pointer-events: none; */
}

.header_menu{
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
    top: 0;
    height: 90px;
    background-color: #ffff;
    padding: 0 24px;
    text-transform: uppercase;
    box-shadow: 0 0 6px #fff;
}

.section_header-menu {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    /* background-color: red; */
    z-index: 6;
}

.logo_header{
    height: 100%;
}
.menu{
    display: flex;
}

.menu li {
    list-style-type: none;
    transition: 2s;
}

.menu li a {
    color: #000;
    margin: 0 12px;
    font-weight: bold;
    line-height: 90px;
    font-family: 'font_main-bold';
    font-size: 13px;
}

.menu li:hover a {
    text-decoration: none;
    opacity: 0.4;
}
.header_right{
    display: flex;
}
.header_right .user{
    display: flex;
}
.header_right .icon_user{
    display: flex;
    margin-right: 20px;
}

.icon_user:hover {
    text-decoration: none;
}


.user span,
.user p {
    color: #000;
    font-size: 12px;
    font-family: 'font_main-medium';
}

.cart_icon {
    width: 20px;
    height: 20px;
}

.icon_user-header , .icon_cart-header {
    color: #000;
}
.icon_user-header{
    height: 18px;
    width: 18px;
    margin-right: 5px;
}

.cart .icon_cart-header{
    height: 18px;
    width: 18px;

}

.cart .icon_inner {

}

#myCarousel {
    /* position: absolute; */
    z-index: 1 !important;
    position: relative;
    /* margin-top: 90px; */
}

#myCarousel .carousel-inner,
#myCarousel .carousel-inner .carousel-item img {
    height: 600px;
}

.content{
    z-index: 6;
    padding: 30px;
    /* border: 1px solid #ccc; */
    background-color: #fff;
    bottom: 0;
    position: relative;
    top: -50px;
}

.box_content-top{
    display: flex;
    --spacing: 15px;
    --column: 3;
    margin: 0 calc(-1 * var(--spacing));
}
.photo_box-top{
    width: calc(calc(100% / var(--column)) - 2 * var(--spacing));
    margin-left: var(--spacing);
    margin-right: var(--spacing);
    /* border: 1px solid #fff; */
    position: relative;
    transition: all .25s linear;
    cursor: pointer;
}

.photo_box-top::after {
    content: "";
    transform: scale(1);
    position: absolute;
    border: 1px solid #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: all .25s ease-in-out;
    /* z-index: -1; */
    /* pointer-events: none; */
}

.photo_box-top:hover.photo_box-top::after {
    transform: scale(0.8);
}

.img_box-top,
.img_content-center,
.img_content-bottom {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box_center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 30px;
}
.photo_large{
    overflow: hidden;
}

.img_content-center {
    transition: all .5s ease;
}

.img_content-center:hover {
    transform: scale(1.1,1.1);
} 

.photo_large:first-child {
    grid-row: 1/2;
}

.photo_large:nth-child(2) {
    grid-row: 2/3;
}

.photo_large:last-child {
    grid-row: 1/3;
}


.content_section-bottom{
    /* margin-top: 30px; */
}
.content_section-bottom .box_content-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 90px 50px 40px;
    gap: 30px;

}
.photo_content-bottom:first-child{
    grid-row: 1/5;
}

.photo_content-bottom:nth-child(2) {
    grid-row: 1/3;
}

.photo_content-bottom:nth-child(3) {
    grid-row: 1/4;
}

.photo_content-bottom:last-child {
    grid-row: 1/5;
}

.photo_content-bottom {
    position: relative;

}
.img_href {
}

.nav_content-bottom{
    background-color: #ffff;
    font-weight: 700;
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px 24px;
    font-family: 'font_main-bold';
}
.title_content-bottom{
    color: #666666;
    font-size: 15px;
}
.pro_quantity{
    color: #000;
    font-size: 14px;
}

footer {
    background-color: #232323;
    /* margin-top: 450px; */
}

.footer{
    display: flex;
    justify-content: flex-start;
    padding: 40px 0;
}
.box_footer{
    margin: 0 24px;
}
.footer_title{
    color: #fff;
    font-size: 24px;
    padding: 12px 0;
    font-family: 'font_main-bold';
    font-size: 18px;
}
.footer_content{
    color: #9f9f99;
    text-align: left;
}
.list_footer{

}

.list_footer li {
    list-style-type: none;
}

.list_footer li a {
    font-family: 'font_main-bold';
    color: #9f9f99;
    line-height: 1.8;
    font-size: 12px;
    /* font-weight: 200; */
}
.icon_footer{
    margin: 0 8px;
}


.overlay_addtocart{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 666;
    display: none;
    /* height: 100vh; */
}

.nav_addtocart{
    width: 480px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    padding: 60px 70px 100px 70px;
    animation: fadeCart .25s linear;
    display: none;
    overflow-y: scroll;
}

.view_overlay-cart {

}

/* .total_cart, */
.total_cart,
.title_addtocart{
    display: flex;
    font-family: 'font_main-medium';
    /* opacity: 0.6; */
    font-size: 14px;
    color: #666666;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
}
.icon_close-cart{
    height: 30px;
    width: 30px;
    /* padding: ; */
}

.icon_close-cart:hover {
    background-color: red;
    color: #fff;
}

#view_cart {
    /* margin-top: 50px; */
    width: 100%;
    /* margin-bottom: 10px; */
    /* border-bottom: 1px solid #000; */
}

#view_cart .item_id-pro{
    display: flex;
    justify-content: space-between;
}
.photo_pro-view{
    height: 100%;
    width:50px;
    border: 1px solid #ccc;
    flex-shrink: 0;
    /* margin-right: 10px; */
}
.photo_pro-view .img_pro-view{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info_pro-view {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
    text-transform: uppercase;
}
.info_pro-view .pro_title-view{
    font-family: 'font_main-bold';
    font-size: 14px;
    color: #666666;
}
.info_pro-view .pro_cate-view{
    opacity: 0.6;
    font-family: 'font_main-medium';
    font-weight: 600;
    font-size: 12px;
    padding: 5px 0;
}
.pro_quantity-view{
    padding: 2px 12px;
    background-color: #ededed;
}

#view_cart .total_pro-cart,
.total_cart .total_price,
.pro_price-view{
    font-family: 'font_main-medium';
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
}

.total_cart .total_price sup,
.pro_price-view sup {
    text-transform: lowercase;
}

.icon_close-viewcart {
    position: absolute;
    height: 15px;
    width: 15px;
    font-weight: 700;
    right: 0;
}

.icon_close-viewcart:hover {
    background-color: #232323;
    color: #fff;
}

.inline {
    width: 100%;
    float: left;
    /* border: 1px solid #000; */
    margin: 10px 0;
    color: #000;
}

.total_cart{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.total_cart .total_price{
    color: red;
}
.btn_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.link_to-cart , .link_to-checkout {
    color: #fff;
    padding: 14px 30px;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'font_main-medium';
    font-weight: 600;
    transition: all 0.25s linear;
}



.btn_cart .link_to-cart{
    background-color: #232323;
}
.btn_cart .link_to-checkout{
    background-color: red;
}

.btn_cart .link_to-cart:hover {
    color: #232323;
    border: 1px solid #232323;
    background-color: #fff;
    text-decoration: none;
}

.cart_buttons .link_pay:hover,
.btn_cart .link_to-checkout:hover {
    color: red;
    border: 1px solid red;
    background-color: #fff;
    text-decoration: none;
}

@keyframes fadeMain {
    0% {
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
    }

    100% {
        right: 480px;
    }
}

@keyframes fadeCart {
    0% {
        opacity: 0;
        right: -480px;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}


/* .displayN {
    display: none;
} */