.mt8 {
    margin-top: 8px;
}

.pt10 {
    padding-top: 10px;
}

.pd5 {
    padding: 5px 0;
}

.pd10 {
    padding: 10px 0;
}

.pb10 {
    padding-bottom: 10px;
}

.img_banner-content {
    width: 100%;
}
.content_main{

}

.content_main .header_content-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.header_content-main .icon_option{
    /* position: absolute; */
    font-size: 14px;    
}

.header_content-main .first_section {
    /* height: 100%; */
}

.header_content-main .first_section span {
    /* color: #6666; */
    opacity: 0.6;
    font-family: 'font_main-bold';
    font-size: 14px;
}
.title_content-main{
    font-size: 24px;
    font-family: 'font_main-bold';
    left: 0;
}
.form_content-main{
    font-family: 'font_main-medium';
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 10px 0; */
}

.form_content-main .option_cate {
    position: absolute;
    left: 10px;
    /* padding: 6px 0; */
}

.select_content-main {
    background-color: #f6f6f6;
    font-size: 12px;    
    padding: 4px 24px;
    border: 1px solid #ccc;
}

.form_content-main .select_content-main > option {
    /* font-size: 12px; */
    padding: 4px 24px;
    /* margin-left: 10px; */
}
.icon_content-main{

}

.content_collections {

}


.carts {
    display: flex;
    flex-wrap: wrap;
    --spacing: 10px;
    --column: 4;
    
}

.cart{
    width: calc(calc(100% / var(--column)) - 2* var(--spacing));
    margin-left: var(--spacing);
    margin-top: var(--spacing);
    margin-bottom: var(--spacing);
    margin-right: var(--spacing);
    /* padding: 0 15px; */
    /* border: 1px solid #ccc; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 0 6px #cccccc;
    /* position: relative; */
}

.carts .cart .img_href {

}

.cart_photo{
    height: 350px;
    flex-shrink: 0;
    /* position: relative; */
    /* border: 1px solid #000; */
    position: relative;
}

.cart_photo .sale_pro {
    color: red;
    background-color: #fff;
    font-size: 12px;
    position: absolute;
    width: 50px;
    height: 25px;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'font_main-bold';
}
.carts .cart .img_href .cart_img-icon{
    /* transform: scale(1); */
}

.carts .cart:hover  .cart_icon-plus {
    display: block;
    opacity: 1;
    /* pointer-events: none; */
}

.cart_icon-plus:hover .cart_img-icon {
    transform: scale(1.2);
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.cart_icon-plus{
    position: absolute;
    bottom: 42%;
    left: 50%;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    transition: all .25s ease-out;
    opacity: 0;
    box-shadow: 0 0 6px #ccc;
    z-index: 1;
    cursor: pointer;
}

.cart_icon-plus .cart_img-icon{
    width: 40px;
    height: 40px;
    position: relative;
    transform: scale(1);
    border-radius: 50%;
    color: #fff;
    transition: all .2s linear;
    /* background-color: red; */
}



.cart_img-bottom,
.cart_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cart_img-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    transition: .25s linear;
}

.cart_img-bottom:hover {
    opacity: 1;
}

.cart_nav{
    flex: 1;
    padding: 18px 8px;
    /* background-color: #3333; */
}
.cart_name{
    color: #666666;
    font-family: 'font_main-bold';
    font-size: 14px;
}
.cart_price{
    color: red;
    font-family: 'font_main-medium';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.2px;
    /* padding: 4px 0; */
}
.sale{
    color: #666666;
    font-weight: 600;
}
.cart_color{
    display: flex;
    /* padding: 12px 0; */
}

.cart_color li {
    list-style-type: none;
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
    box-shadow: 0px 0px 1px 1px #ededed;
    margin-right: 8px;
    overflow: hidden;
}
.img_not-swap {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay_cart {
    position:fixed;
    box-shadow: 0 0 6px #666666;
    /* position: fixed; */
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.nav_overlay-cart {
    width: 60%;
    height: 450px;
    background-color: #fff;
    padding: 20px;
    animation: overlay_cart .25s ease-in-out;
    position: relative;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    border-radius: 5px;
}

.icon_close{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: 0;
    right: 0;
    transition: 0.25s;
    cursor: pointer;
}

.icon_close:hover {
    background-color: red;
    color: #Fff;
}

.row_left-detail {
    position: relative;
}

.section_pro-top {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pro_main-overlay {
    height: 100%;
}

.img_pro-main {
    bottom: 0;
}

.link_pro_detail {
    font-family: 'font_main-bold';
    font-size: 12px;
    text-align: center;
    display: inline-block;
    color: #666666;
    text-decoration:underline;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 0;
}

.overlay_pro{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 666;
    display: none;
}
.nav_overlay-pro{
    position: absolute;
    width: 300px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
}
.nav_overlay-pro .cate_pro-overlay{

}
.title_overlay-pro{
    font-family: 'font_main-bold';
    font-size: 14px;
    text-transform: uppercase;
}
.subnav_overlay{
    display: flex;
    flex-direction: column; 
    border-bottom: 1px solid #666666;
}

.subnav_overlay .subnav_text {
    font-family: 'font_main-medium';
    font-weight: 600;
    color: #666666;
    font-size: 14px;
}

.subnav_overlay .subnav_text:hover {
    text-decoration: none;
}

.subnav_overlay li {
    position: relative;
}
.subnav_overlay input {
    /* opacity: 0; */
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 2px;
}

.brand {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: start; */
}

.ellipse_brand {
    position: relative;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #2cccff;
    border-radius: 50%;
    margin-right: 8px;
}

.colors_pro {

}

.img_swap {
    
}

@keyframes overlay_cart {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}