.mt8 {
    margin-top: 8px;
}

.pt10 {
    padding-top: 10px;
}

.pd5 {
    padding: 5px 0;
}

.pd10 {
    padding: 10px 0;
}

.pb10 {
    padding-bottom: 10px;
}

.img_banner-content {
    width: 100%;
}
.content_main{

}

.content_main .header_content-main{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px 0;
}
.header_content-main .icon_option{
    /* position: absolute; */
    font-size: 14px;    
}

.title_content-main{
    font-size: 24px;
    font-family: 'font_main-bold';
    left: 0;
    /* margin-left: 180px; */
    color: #666666;
    text-align: center;
}
.form_content-main{
    font-family: 'font_main-medium';
    position: relative;
    display: flex;
    align-items: center;
    /* padding: 10px 0; */
}

.form_content-main .option_cate {
    position: absolute;
    left: 10px;
    /* padding: 6px 0; */
}

.select_content-main {
    background-color: #f6f6f6;
    font-size: 12px;    
    padding: 4px 24px;
    border: 1px solid #ccc;
    margin-right: 8px;
}

.form_content-main .select_content-main > option {
    /* font-size: 12px; */
    padding: 4px 24px;
    /* margin-left: 10px; */
}

button.btn_list-pro {
    padding: 2px 12px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'font_main-medium';
    font-weight: 500;
}


.icon_content-main{

}

.content_collections {

}


.carts {
    --spacing: 20px;
}

.cart{
    margin-bottom: var(--spacing);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.carts .cart .img_href {

}


.cart_photo .cart_img:hover {
    transform: scale(1.1);
}

.cart_photo{
    height: 350px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.cart_photo .sale_pro {
    color: red;
    background-color: #fff;
    font-size: 12px;
    position: absolute;
    width: 50px;
    height: 25px;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'font_main-bold';
    transition: all .25s ease-in-out;
    /* flex: 1; */
    z-index: 1;
    opacity: 0.8;
}

.overlay_addtocard {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    transition: all .25s linear;
    width: 100%;
}

.overlay_addtocard .btn_addtocard {
    border: none;
    text-align: center;
    color: #fff;
    position: relative;
    width: 100%;
    padding: 14px 35px;
    background-color: #000;
    font-family: 'font_main-medium';
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0 0 3px #9f9f9f99;
    opacity: 0.8;
    display: block;
    /* border-radius: 5px; */
}

.overlay_addtocard .btn_addtocard:hover {
    background-color: #dc3545;
    color: #fff;
    text-decoration: none;
}

.cart:hover .overlay_addtocard {
    bottom: 0;
}



.cart_img-bottom,
.cart_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .25s ease-in-out;
}

.cart_img-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0;
    transition: .25s linear;
}

.cart_img-bottom:hover {
    opacity: 1;
}

.cart_nav{
    padding: 18px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    /* margin-top: auto; */
    /* background-color: #3333; */
}
.cart_name{
    color: #666666;
    font-family: 'font_main-bold';
    font-size: 14px;
    flex-shrink: 0;
}

.cart_name:hover {
    text-decoration: none;
    color: #666666;
}
.cart_price{
    color: red;
    font-family: 'font_main-medium';
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.2px;
    flex: 1;
    margin-top: auto;
    display: flex;
    align-items: flex-end;
    /* padding: 4px 0; */
}
.sale{
    color: #666666;
    font-weight: 600;
    margin-left: 10px;
}
.cart_color{
    display: flex;
    /* padding: 12px 0; */
}

.cart_color li {
    list-style-type: none;
    height: 30px;
    width: 30px;
    /* border-radius: 50%; */
    box-shadow: 0px 0px 1px 1px #ededed;
    margin-right: 8px;
    overflow: hidden;
}
.img_not-swap {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay_cart {
    position:fixed;
    box-shadow: 0 0 6px #666666;
    /* position: fixed; */
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.nav_overlay-cart {
    width: 60%;
    height: 450px;
    background-color: #fff;
    padding: 20px;
    animation: overlay_cart .25s ease-in-out;
    position: relative;
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    border-radius: 5px;
}

.icon_close{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    top: 0;
    right: 0;
    transition: 0.25s;
    cursor: pointer;
}

.icon_close:hover {
    background-color: red;
    color: #Fff;
}

.row_left-detail {
    position: relative;
}

.section_pro-top {
    position: absolute;
    width: 100%;
    height: 100%;
}

.pro_main-overlay {
    height: 100%;
}

.img_pro-main {
    bottom: 0;
}

.link_pro_detail {
    font-family: 'font_main-bold';
    font-size: 12px;
    text-align: center;
    display: inline-block;
    color: #666666;
    text-decoration:underline;
    text-transform: uppercase;
    width: 100%;
    padding: 12px 0;
}

.overlay_pro{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 666;
    display: none;
}
.nav_overlay-pro{
    position: absolute;
    width: 300px;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    padding: 10px;
}
.nav_overlay-pro .cate_pro-overlay{

}
.title_overlay-pro{
    font-family: 'font_main-bold';
    font-size: 14px;
    text-transform: uppercase;
}
.subnav_overlay{
    display: flex;
    flex-direction: column; 
    border-bottom: 1px solid #666666;
}

.subnav_overlay .subnav_text {
    font-family: 'font_main-medium';
    font-weight: 600;
    color: #666666;
    font-size: 14px;
}

.subnav_overlay .subnav_text:hover {
    text-decoration: none;
}

.subnav_overlay li {
    position: relative;
}
.subnav_overlay input {
    /* opacity: 0; */
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 2px;
}

.brand {
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: start; */
}

.ellipse_brand {
    position: relative;
    width: 15px;
    height: 15px;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #2cccff;
    border-radius: 50%;
    margin-right: 8px;
}

.colors_pro {

}

.img_swap {
    
}

.list {
    border: 1px solid #ccc;
    height: 350px;
}

.line_list {
    height: 2px;
    width: 100%;
    background-color: #9f9f99;
    border-radius: 1.6rem;
}

.nav_list .title_list {
    font-size: 18px;
    font-family: 'font_main-medium';
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 0;
}

.nav_list {
    background-color: #f6f6f6;

}

.nav_list-section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    position: relative;
    padding: 12px 0;
    /* height: 60px;    */
    align-items: center;
    width: 100%;
}

.nav_list-section li{
    list-style-type: none;
    margin-left: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav_list-section li a{
    width: 100%;
    text-decoration: none;
    color: #666666;
    font-family: 'font_main-medium';
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    display: inline-block;
    position: relative;
    transition: .25s all ease;
}

.select_list {
    text-align: center;
    position: relative;
    transition: all 0.25s linear;
    background-color: #fff;
}

.select_list:hover {
    border: 1px solid #000;
}

.content__paging {

}   

.content__paging__row {
    display: flex;
}

/* .content__paging__row li {
    height: 30px;
    width: 30px;
} */

.icon__paging__row .icon_page,
.content__paging__row .number_page li {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    /* font-size: 14px; */
}

.icon__paging__row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50px;
    height: 50px; */
    /* border: 1px solid #000; */
    cursor: pointer;
}

.icont_page {
}


.content__paging li {
    list-style-type: none;
    width: 50px;
    height: 50px;
}

.content__paging .icon_page {
    height: 30px;
    width: 30px;
    /* font-size: 11px; */
}

.number_page {
    display: flex;
    align-items: center;
}

.number_page li {
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number_page li.active {
    background-color: #666666;
    color: #Fff;
}

.btn_active {
    opacity: 0.2;
}


@keyframes overlay_cart {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}