@charset "utf-8";

/* RESET */
*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dt,
dd,
th,
td,
li,
a {
    line-height: 1;
    font-weight: normal;
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
}

a,
a:hover,
a:focus,
a:visited {
    display: inline-block;
    text-decoration: none;
}

a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
td {
    font-size: 14px;
}
span,
label {
    display: inline-block;
}

input {
    display: block;
}

select {
    display: block;
    height: 32.8px;
}

textarea {
    display: block;
}

input,
textarea,
select,
button {
    font-size: 1em;
    border: 1px solid #ccc;
    outline: none;
    padding: 0.5em 1em;
    vertical-align: top;
}

select {
    padding: calc(0.5em - 1px) 1em;
}

input[type="submit"],
button {
    cursor: pointer;
    margin: 1em 5px;
}

input[type="file"] {
    max-width: 13.2em;
    border: none;
    padding: 0;
}

img {
    display: inline-block;
    max-width: 100%;
}

body {
    font-family: Arial, sans-serif;
}

/* COLOR */
.bg-fff {
    background-color: #fff;
}

.bg-000 {
    background-color: #000;
}

.text-fff {
    color: #fff;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

strike {
    text-decoration: line-through;
    color: #ccc;
}

/* GRID */
.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear: both;
}

[class~="column"] {
    float: left;
    width: 100%;
    overflow: hidden;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .wrap {
        max-width: 100%;
        padding: 0 15px;
    }
}

/* CLASSES */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* LIST */
.nav>li {
    float: left;
}

.nav>li>a {
    display: block;
}

.list-inline>li {
    display: inline-block;
    vertical-align: top;
}

.list-flex {
    display: flex;
    -webkit-display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

/* CARD */
.oh {
    position: relative;
    overflow: hidden;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.m0a {
    margin: 0 auto;
}

.hide {
    display: none !important;
}

.disable {
    pointer-events: none;
}

strike {
    text-decoration: line-through;
}






/* PAGE ADMIN CSS  */
/*FONTS*/
@font-face {
    font-family: 'SFU Futura';
    src: url('../fonts/SFUFutura/SFUFuturaRegular/hinted-SFUFutura.eot');
    src: url('../fonts/SFUFutura/SFUFuturaRegular/hinted-SFUFutura.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUFutura/SFUFuturaRegular/hinted-SFUFutura.woff2') format('woff2'),
        url('../fonts/SFUFutura/SFUFuturaRegular/hinted-SFUFutura.woff') format('woff'),
        url('../fonts/SFUFutura/SFUFuturaRegular/hinted-SFUFutura.ttf') format('truetype'),
        url('../fonts/SFUFutura/SFUFuturaRegular/hinted-SFUFutura.svg#SFUFutura') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('../fonts/SFUFutura/SFUFuturaBold/hinted-SFUFuturaBold.eot');
    src: url('../fonts/SFUFutura/SFUFuturaBold/hinted-SFUFuturaBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUFutura/SFUFuturaBold/hinted-SFUFuturaBold.woff2') format('woff2'),
        url('../fonts/SFUFutura/SFUFuturaBold/hinted-SFUFuturaBold.woff') format('woff'),
        url('../fonts/SFUFutura/SFUFuturaBold/hinted-SFUFuturaBold.ttf') format('truetype'),
        url('../fonts/SFUFutura/SFUFuturaBold/hinted-SFUFuturaBold.svg#SFUFuturaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'SFU Futura', Arial, sans-serif;
    font-size: 14px;
    color: #2a3f54;
    background: #f7f7f7;
}

.bg-1 {
    background: #557daa;
}

.text-1 {
    color: #557daa;
}

/* ADMIN PAGE */
/* FORM & INPUT */
span {
    display: inline-block;
}

label {
    display: inline-block;
    cursor: pointer;
}

.checkbox {
    font-size: 20px;
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    background: #557daa;
    vertical-align: middle;
}

.checkbox:before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background: #fff;
    border: 1px solid #557daa;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.checkbox:after {
    content: "";
    width: 0.7em;
    height: 0.5em;
    position: absolute;
    top: 0.14em;
    left: 0.16em;
    border-left: 0.15em solid #fff;
    border-bottom: 0.15em solid #fff;
    background-position: top left, bottom left;
    transform: rotate(-45deg);
    display: none;
    cursor: pointer;
}

.checkbox:checked:before {
    background: #557daa;
}

.checkbox:checked:after {
    display: block;
}

/* SWITCH BUTTON */
.btnSwitch {
    font-size: 16px;
    width: 5em;
    height: 0.5em;
    cursor: pointer;
    position: relative;
}

.btnSwitch:before {
    content: "";
    display: block;
    line-height: 2.1em;
    width: 100%;
    height: 100%;
    background: #dedede;
    transition: background 0.2s;
}

.btnSwitch:after {
    content: "OFF";
    display: block;
    width: 3em;
    height: 3em;
    border: 1px solid #dedede;
    background: #fff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    line-height: 3em;
    color: #777;
    transition: left 0.2s;
}

.btnSwitch:checked:before {
    background: #557daa;
}

.btnSwitch:checked:after {
    content: "ON";
    background: #557daa;
    color: #fff;
    border: none;
    left: calc(100% - 2em);
}

/* PAGINATION */
.pagination a {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border: 1px solid #ccc;
    color: #ccc;
    background: #fff;
}

.pagination a:hover {
    border-color: #557daa;
    color: #557daa;
}

.pagination li {
    margin: 0 2px;
}

.pagination li.is-active a {
    background: #557daa;
    color: #fff;
    border: none;
    pointer-events: none;
}


/*CONTENTS CSS */
.container {
    display: flex;
    display: -webkit-flex;
    padding-left: 200px;
    transition: 0.5s;
}

.container.is-click {
    padding-left: 0;
}

.avatar {
    margin: 50px 1em;
    position: relative;
    display: table;
}

.avatar img {
    display: table-cell;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #fff;
    overflow: hidden;
}

.avatarName {
    display: table-cell;
    vertical-align: middle;
    padding-left: 1em;
    color: #fff;
    line-height: 1.5;
}


/* SIDE CSS */
.sideArea {
    width: 200px;
    min-width: 200px;
    background-color: #253444;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s;
}

.container.is-click .sideArea {
    left: -200px;
}

.sideArea li>a {
    display: block;
    color: #fff;
    padding: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 13px;

}

.sideArea li>a:hover {
    background: rgba(255, 255, 255, 0.1);
}

.sideArea li>a>.fa {
    width: 1em;
    text-align: center;
    margin-right: 10px;
}

.submenu {
    display: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #202B39;
}

.submenu li>a {
    padding-left: 2em;
    border-bottom: none;
    font-size: 13px;
}

.sideMenu {
    border-top: 1px solid rgba(255, 255, 255, 0.2);

}

/* MAIN CSS */
.mainArea {
    width: 100%;
    overflow: hidden;
}

.navTop {
    background: #ededed;
    border-bottom: 1px solid #dedede;
    padding: 0 1em;
}

.menuIcon {
    font-size: 1.5em;
    padding: 0.4em;
    cursor: pointer;
}

.account {
    position: relative;
    padding: 0 1em;
}

.name {
    color: #2A3F54;
    padding: 1em 0;
    cursor: pointer;
}

.name>span {
    margin-left: 10px;
}

.accountLinks {
    width: calc(200px - 2em);
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #dedede;
    z-index: 999;
}

.accountLinks li {
    border: none !important;
}

.accountLinks li a {
    display: block;
    color: #2A3F54;
    padding: 0.7em 1em;
}

.account:hover,
.accountLinks li a:hover {
    background: rgba(42, 63, 84, 0.1);
}

.mainContent {
    padding: 20px;
}

@media (max-width: 768px) {
    .container {
        padding-left: 0;
    }

    .container .sideArea {
        left: -200px;
    }

    .container.is-click {
        padding-left: 200px;
    }

    .container.is-click .sideArea {
        left: 0;
    }
}

/* ADMIN FORM */
.form {
    background: #fff;
    border: 1px solid #dedede;
}

.formHeader {
    padding: 1em;
    background: #fff;
    border-bottom: 1px solid #dedede;
}

.formBody {
    width: 100%;
    padding: 20px 20px 10px 20px;
}

/* LIST FORM */
.btnAdd,
.btnSave,
.btnEdit,
.btnRemove {
    padding: 0.5em;
    margin: 0 2px;
}

.btnSave {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.95em;
}

.btnSwitch {
    font-size: 10px;
}

.btnSwitch.all {
    position: absolute;
    bottom: calc(100% + 3.7em);
    left: calc(50% - 4em);
}

.scrollX {
    width: 100%;
    overflow-x: scroll;
}

/* TABLE */
.table {
    width: 100%;
    min-width: 768px;
}

.table .row {
    width: 100%;
}

.table .row .cell {
    display: table-cell;
    padding: 10px;
    vertical-align: middle;
}

.table>ul>li {
    border-bottom: 1px solid #dedede;
}

.table .cell-50 {
    -max-width: 50px;
    min-width: 50px;
}

.table .cell-100 {
    -max-width: 100px;
    min-width: 100px;
}

.table .cell-150 {
    -max-width: 150px;
    min-width: 150px;
}

.table .cell-200 {
    -max-width: 200px;
    min-width: 200px;
}

.table .cell-100p {
    width: 100%;
}


/* DETAIL FORM */
.inputGroup {
    display: block;
    margin-bottom: 10px;
}

.inputGroup>span:first-child {
    width: 100px;
    padding-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}

.inputGroup>span {
    display: table-cell;
}

.inputGroup input,
.inputGroup select {
    margin-bottom: 10px;
}

.form textarea {
    width: 100%;
    min-height: 20em;
}

#pagination {
    margin-top: 20px;
}

.btnNewInput {
    padding: 0.6em;
}

.inputNumber {
    max-width: 3em;
    padding: 0.5em 0;
    text-align: center;
}

/* SUB LIST */
.sublist {
    width: 100%;
    display: none;
}

.row.is-active>.sublist {
    display: block;
}

.btnCaret {
    font-size: 20px;
    width: 1em;
    height: 1em;
    cursor: pointer;
    transform: rotate(0deg);
    transition: 0.2s;
}

.row.is-active>div>.btnCaret {
    transform: rotate(180deg);
}

.sublist>li:nth-child(2n+1) {
    background: rgba(42, 63, 84, 0.05);
}

/* FILTER */
.filterGroup {
    margin-bottom: 20px;
}

/* SEARCH */
.formSearch {
    position: relative;
}

.inputSearch {
    padding-right: 3em;
}

.btnSearch {
    margin: 3px 0 0 0;
    padding: 0.5em 1em;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
}

/* SORT */
.boxSelect {
    min-width: 12em;
    background: #fff;
    position: relative;
}

.titleSelect {
    background-repeat: no-repeat;
    background-image: linear-gradient(#000, #000);
    background-size: 0 1px;
    background-position: bottom left;
    transition: background-size 0.5s;
    padding: 0.4em 1em;
    border: 1px solid #ccc;
    cursor: pointer;
}

.titleSelect.is-active {
    background-size: 100% 1px;
}

.optionSelect {
    width: 100%;
    position: absolute;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid #ccc;
    border-top: none;
    z-index: 100;
    visibility: hidden;
    overflow: hidden;
    transform: translateX(100%);
    transition: 0.2s;
}

.titleSelect.is-active+.optionSelect {
    visibility: visible;
    transform: translateX(0);
}

.optionSelect li a {
    width: 100%;
    padding: 0.5em 1em;
    cursor: pointer;
}

.optionSelect li a:hover {
    background: rgba(42, 63, 84, 0.1);
}

/* FILTER */
.btnFilter {
    padding: 0.4em 1em;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

.boxFilter .btnFilter {
    padding: 0;
    margin: 0;
    border: none;
}

.btnFilter>.fa {
    margin-right: 0.5em;
}

.boxFilter {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    background: #fff;
    padding: 20px;
    border-left: 1px solid #ccc;
    z-index: 800;
    transition: right 0.5s;
}

.boxFilter.is-active {
    right: 0;
}

.boxFilter .groupInput {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.boxFilter select {
    margin-bottom: 20px;
}

.boxFilter select {
    width: 100%;
}

.boxFilter .btnClose {
    margin-bottom: 20px;
    cursor: pointer;
}

.boxFilter .btnClose>.fa {
    margin-right: 1em;
}

/* FILTER PRICE */
#filterPrice {
    width: 100%;
    height: 5px;
    margin: 1em 0;
}

.areaValue {
    margin-top: 1em;
}

.rangeValue {
    display: block;
    width: 100%;
    height: 2em;
    text-align: center;
}

#filterPrice .rangeValue:nth-child(1) {
    left: 0;
}

#filterPrice .rangeValue:nth-child(2) {
    right: 0;
}

.noUi-base {
    background: #ccc;
}

.noUi-connect {
    background: #2a3f54;
}

.noUi-handle {
    outline: none;
    top: -0.75em !important;
    width: 1.5em !important;
    height: 1.5em !important;
    border-radius: 0;
}

.noUi-handle.noUi-handle-lower {
    left: -1px;
}

.noUi-handle.noUi-handle-upper {
    left: -20px;
}

.noUi-handle:before,
.noUi-handle:after {
    display: none;
}


.btn_dk {
    display: flex;
    justify-content: flex-start;
}

.title p {
    font-size: 24px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

td {
    padding: 8px;
    text-align: center;
    border-top: 1px solid #dee2e6;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.list_cate td {
    height: 72px;
}

td.active-td {
    text-align: center;
}

.active-td img {
    margin: 0 5px;
}

.active-th {
    width: 115px;
    text-align: center;
}

.btn_remote {
    display: flex;
    justify-content: flex-end;
}

.main {
    /* border: solid 1px #dedede; */
}

.pg-normal {
    width: 50px;
    color: red;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
}

.pg-selected {
    width: 40px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

div#pageNavPosition {
    text-align: center;
    margin: 30px 0;
}

input[type="text"] {
    /* margin-top: 5px;
    margin-bottom: 13px; */
    width: 100%;
}

.note {}

.main {
    border: soild 1px #ccc;
    border: 1px solid #ccc;
    padding: 1em;
    background-color: #fefefc;
    border-radius: 8px;
}

#file-input {
    display: none;
}

.preview {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    /* margin: auto; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(170, 170, 170, 0.2);
}

.list_product img {
    max-width: 120px;
    object-fit: cover;
    /* margin: 15px; */
}

.upload-img {
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: rgb(101, 101, 255);
}

.box {
    display: flex;
    /* width: 100%; */
    margin: 10px 0;
    /* margin-left: 20px; */
}

.box-input {
    width: 100%;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 250px;
}

.sub-box {
    border: solid 1px #777;
}

.inputRemove {
    border: none;
    background: transparent;
    width: 30px;
    text-align: center;
}

.inputRemove img {
    margin: 0;
}

h3 {
    margin: 10px 0 15px;
}

#addmore {
    margin: 15px 50px;
}

.conttent {
    /* display: none; */
}

.box-right {
    width: 80%;
}

.box-left {
    width: 20%;
    text-align: center;
}

img#img-preview {
    max-width: 150px;
    object-fit: cover;
    margin-top: 30px;
}

.sale-msg::placeholder {
    color: #777 !important;
}
.description::placeholder {
    color: red;
}

.form-control::placeholder {
    color: red;
}

span.errors {
    color: red;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.btn-filter{
    float: right;
}
.image_product{
    
}
.list_thumbs{

}
.photo_pro-main{

}
.subbox-right{
    width: 60%;
    margin: 0 30px;
}
.name_product{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
hr{
    width: 370px;
}

